<h3>Listado de productos: </h3>
<div class="itemList"> 
    {{#each prods}}
    <div class="item">
        <h4>Id: {{this.id}}</h4>
        <p>Title: {{this.title}}</p>
        <p>Code: {{this.code}}</p>
        <p>Price: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>

    </div>
    {{/each}}
</div>
